*{
        margin: 0%;
        padding: 0%;
}
header{
            background: #343a40;
}
.header_content{
            width: 50%;
            margin: auto;
}
.header_content ul{    
            display: flex;     
            justify-content: space-between;       
            list-style: none;     
            align-items: center;      
            padding: 20px 0;     
            font-size: 16px;
}

                

.header_content ul li a{           
         text-decoration: none;           
         color: #fff;    
        text-transform: capitalize;
}
.header_content ul li a img{  
         width: 100%;   
}
article{
        height: 600px;
        background-image: url(../images/bg.jpg); 
        background-repeat: no-repeat; 
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
}
.from_content{
      width: 65%;
      display: flex;
}    
.relax h1{ 
        color: #fff;  
        font-size: 35px;  
        text-transform: capitalize; 
        margin-bottom: 10px;
}
.relax h1 span{
        color: #6dbd6d;
 }
.relax p{
        
        color: #fff;  
        font-size: 20px;
        margin: 10px 0;
}
.relax ul{
        list-style: none;
}
.relax ul li{ 
        color: #fff;  
        font-size: 16px; 
        margin-bottom: 5px;
}
.relax ul li i{      
        font-size: 10px;  
        border: 2px solid #fff; 
        border-radius: 50px; 
        margin-right: 5px; 
        padding: 2px;
}
button{
                
        background: transparent;              
        border: none;            
        background: #6dbd6d;              
        color: #fff;              
        padding: 10px 20px;              
        border-radius: 30px;               
        font-size: 18px;              
        text-transform: capitalize;              
        font-weight: 700;                        
        margin-top: 10px;
}
.relax{
        width: 50%;
}
.register{
        width: 50%;
        min-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.register_form{               
        width: 60%;              
        height: 85%;           
        background: green;       
        padding: 30px 20px;            
        border-radius: 4px;
}
.register_form h1{
        text-align: center;
        color: #fff;
        font-size: 30px;
        margin-bottom: 10px;
}
.register_form p{        
        color: #fff;         
        text-align: center;         
        margin-bottom: 20px;
}
     
.register_form form input{           
        width: 97%;            
        margin-bottom: 5px;            
        padding: 8px 0;           
        padding-left: 3px;         
        color: black;         
        font-size: 16px;
}
.register_form form input[type="submit"]{            
        width: 100%;         
        border: none;        
        background: #529252;        
        font-weight: 700;       
        box-shadow: 2px 3px 10px 1px #000;
        cursor: pointer;
       
       
}

